.portItem {
  border: 2px solid powderblue;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: AliceBlue;
}

.portMain {
  margin: auto;
  width: 80%;
}

.indexPortImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
}

.contactCell {
  padding: 6px;
}

.indexProfileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}
